@import './variables.scss';

.card {
  --card-bg: rgb(255, 255, 255);
  --card-color: rgb(23, 23, 23);
  --card-secondary-border: rgba(23, 23, 23, 0.033);

  border-radius: var(--radius-auto);
  background: var(--card-bg);
  color: var(--card-color);
  box-shadow: 0 0 0 1px var(--card-secondary-border);
  overflow-wrap: anywhere;

  overflow: hidden;
}

.btn {
  --bg-hover: rgba(0, 0, 0, 0.035);
  --border-hover: transparent;
  --color-hover: #090909;

  &:hover {
    background-color: var(--bg-hover);
    border-color: var(--border-hover);
    color: var(--color-hover);
  }
}

.rounded {
  border-radius: 9999px;
}
