// @import './variables.scss';
// @import './common.scss';
// @import './article.scss';

// .mainContent {
//   scroll-margin-top: var(--header-height);
// }

// .articleWrapper {
//   @extend .card;

//   min-width: 0;
// }

// .article {
//   min-width: 0;
// }

// .articleMain {
//   padding-block: var(--padding-y-content);
// }

// .comments {
//   padding-inline: var(--padding-x-content);
//   padding-block: var(--padding-y-content);
// }
