:root {
  --header-height: 56px;

  --base: #090909;
  --base-inverted: rgb(var(--white));
  --base-100: var(--base);
  --base-90: #242424;
  --base-80: #3d3d3d;
  --base-70: #575757;
  --base-60: #717171;
  --base-50: #8a8a8a;
  --base-40: #a3a3a3;
  --base-30: #bdbdbd;
  --base-20: #d6d6d7;
  --base-10: #efefef;
  --base-0: #f9f9f9;

  --z-elevate: 1;
  --z-negative: -1;
  --z-sticky: 100;
  --z-drawer: 200;
  --z-dropdown: 400;
  --z-modal: 500;
  --z-popover: 600;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --radius: 0.375rem;
  --radius-large: 0.75rem;
  --radius-auto: Max(0px, Min(var(--radius), calc((100vw - 4px - 100%) * 9999))) / var(--radius);
  --radius-large-auto: Max(0px, Min(var(--radius-large), calc((100vw - 4px - 100%) * 9999))) /
    var(--radius-large);

  --site-width: 1380px;
  --layout-sidebar-left-width: 4rem;
  --layout-sidebar-right-width: 3fr;
  --layout-content-width: 7fr;
  --layout-gap: 1rem;
  --layout-padding: 1rem;

  --grey-100: 246, 246, 246;
  --grey-900: 23, 23, 23;

  --body-bg: rgb(var(--grey-100));
  --body-color: rgb(var(--grey-900));
  --body-color-inverted: rgb(var(--white));

  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-6: 1.5rem;
  --su-7: 1.75rem;
  --su-8: 2rem;
  --su-9: 2.25rem;
  --su-10: 2.5rem;

  --fs-2xs: 0.675rem;
  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-base: 1rem;
  --fs-l: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 800;

  --padding-x-content: 4rem;
  --padding-y-content: 2rem;
}
