.container {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 50px);

  .video {
    width: 265px;
    height: 265px;
    object-fit: cover;
  }

  .image_container {
    background-color: #fbfbfb;
    min-height: calc(100vh - 50px);
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;

    .image_card_container {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;

      .image_card {
        width: 588px;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid #eeeeee;
        box-shadow: none !important;

        :global(.ant-card-head) {
          min-height: 50px;
          border-bottom: none;
          background-color: rgb(227, 227, 227);

          input {
            background-color: transparent;
            color: #000;
            font-size: 18px;
          }
        }

        :global(.ant-card-body) {
          background-color: #fff;
          color: #000;
          padding: 0;
          width: 588px;

          .card_container {
            padding: 18px;
            background-color: #fff;
          }
        }

        .card_label {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 13px;
        }

        input {
          border: none;
          font-size: 20px;
          font-weight: 500;
          padding: 0;
          display: inline;
        }
      }

      .button_add {
        width: 588px;
        height: 98px !important;
        border: 0;
        border-radius: 10px;
        color: #c5c4c4ff;
        background-color: transparent;
        overflow: hidden;
        font-size: 20px;
        color: #5f6368;
        padding: 0 !important;

        &::before {
          content: '';
          position: absolute;
          border: 7px dashed #bdc1c6;
          border-radius: 18px;
          top: -6px;
          bottom: -6px;
          left: -6px;
          right: -6px;
        }

        &:hover {
          border: none !important;
          color: #000 !important;

          &::before {
            border-color: #000;
          }
        }

        &:active {
          color: #c5c4c4ff !important;
          border: 0 !important;
          background-color: transparent !important;
        }
      }

      .cardArea {
        display: flex;

        &_left {
          // width: 240px;
          background-color: #e9e9e9;
        }

        &_right {
          p {
            color: #000;
          }
        }

        .cardArea_cont {
          padding: 15px;
          width: 50%;
          position: relative;

          .cardArea_button {
            position: relative;
          }

          p {
            margin-bottom: 15px;
            color: #000;
            font-weight: 500;
          }

          .cardArea_close {
            padding: 0;
            position: absolute;
            top: 15px;
            right: 15px;
            border: none;
            border-radius: 0;
            background-color: transparent;
            color: #000 !important;

            &:hover {
              background-color: transparent !important;
              color: #000 !important;
            }
          }

          .video_button_area {
            margin: 25px 0 40px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .button_upload {
            margin: 0 auto 15px;
            width: 265px;
            height: 140px !important;
            padding: 0 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: none;
            background-color: #eee;
            white-space: break-spaces;
          }

          .button_hold {
            padding: 0;
            height: 36px !important;
            width: 220px;
            p {
              margin-bottom: 0;
            }
          }

          .button_setting {
            background-color: transparent !important;
            border: none !important;
            padding: 0 !important;
          }

          .cardArea_preview {
            display: flex;
            flex-wrap: wrap;
            max-height: 370px;
            gap: 3px !important;
            overflow: auto;

            .img_item {
              min-width: 60px;

              img {
                min-width: 60px;
              }

              .close_icon {
                opacity: 0;
              }

              &:hover {
                .close_icon {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .image_training_container {
      height: 10px;
      align-self: flex-start;
      position: sticky;
      top: 50%;
      transform: translate(0px, -50%);

      .image_training_cont {
        height: 100vh;
        position: relative;
        margin-top: -50vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .image_training_box {
          width: 400px;
          min-height: 100px;
          border: 1px solid #eeeeee;
          border-radius: 6px;
          overflow: hidden;
          // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          text-align: center;

          .training_title {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            background-color: #e3e3e3;
            // border-bottom: 2px dashed #eeeeee;
          }

          .training_progress {
            padding: 0 18px 18px;
            color: #000;
          }

          .training_collapse {
            border: none !important;
            // border-top: 2px solid #dadce0 !important;
            background-color: transparent !important;
            border-radius: 0 !important;

            :global(.ant-collapse-header) {
              color: #000;
              background-color: #e3e3e3;
              align-items: center;
              height: 50px;
              text-align: left;
              border-radius: 0 0 5px 5px;
            }
          }

          button {
            margin: 88px auto 94px;
            padding: 0;
            height: 44px !important;
            width: 256px;

            &:disabled {
              background-color: #f1f3f4;
              color: #5f6368;
              pointer-events: none;
            }
          }
        }
      }

      .training_input {
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 18px 18px 18px;
        color: #000;

        & + .training_input {
          padding-top: 18px;
        }

        span {
          white-space: nowrap;
          font-size: 15px;
          font-weight: 500;
        }

        input {
          border: none;
          background-color: #eee;
          color: #000;
          width: 66px;
          height: 30px;
        }

        .training_input_buttons {
          position: relative;
          left: -5px;
          display: flex;
          flex-direction: column;

          .button_increment {
            border-radius: 0 5px 0 0;
            background-color: #000;
            width: 15px;
            color: #fff;
          }

          .button_decrement {
            border-radius: 0 0 5px 0;
            background-color: #000;
            width: 15px;
            color: #fff;
          }
        }
      }
    }

    .image_preview_container {
      height: 10px;
      align-self: flex-start;
      position: sticky;
      top: 50%;
      transform: translate(0px, -50%);

      .image_preview_cont {
        height: 100vh;
        position: relative;
        margin-top: -50vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        overflow-y: scroll;

        .image_preview_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          width: 300px;
          min-height: 100px;
          // border: 1px solid #eeeeee;
          background-color: transparent;

          // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          > div {
            box-sizing: border-box;
          }

          .output_text {
            padding: 18px 18px 18px;
            font-size: 14px;
            color: #5f6368;
            border: 1px solid #eeeeee;
            border-radius: 5px;
          }

          .preview_box {
            border: 1px solid #eee;
            border-radius: 5px;
            width: 300px;
            padding: 15px;
          }

          .preview_body_area {
            .button_upload {
              margin: 15px auto 15px;
              width: 265px;
              height: 120px !important;
              padding: 10px 15px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              border: none;
              background-color: #eee;
              border-radius: 4px;
              color: #000;
              font-weight: 500;
              white-space: break-spaces;
              line-height: 1.5;
            }
          }

          .preview_title_area {
            margin-bottom: 20px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 300px;
            height: 50px;
            padding: 0 20px;
            background-color: #e3e3e3;
            color: #000;

            button {
              display: flex;
              justify-content: center;
              width: 77px;
              height: 22px;

              // line-height: 38px;
              // top: 0;
              // left: 0;
              // height: 100%;
              // cursor: pointer;
              // text-align: center;
              // outline: 0;
              // border: none;
              // border-radius: 4px;
              // font-weight: 500;
              // letter-spacing: 0.3px;
              // background-color: #eee;
              // color: #000;
              // &:hover {
              //   color: #000 !important;
              //   background-color: #d2e3fc !important;
              //   line-height: 38px;
              //   height: 38px;
              //   border: none !important;
              // }
              &:disabled {
                background-color: #f1f3f4;
                color: #5f6368;
                pointer-events: none;
              }
            }
          }

          .preview_control_area {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            height: 22px;

            .preview_switch {
              padding-left: 20px;
              width: 50px;
              line-height: 10px;
              border-radius: 10px;
              margin-left: 40px;

              &::before {
                position: absolute;
                content: '输入';
                left: -20px;
                font-size: 16px;
                width: 70px;
                top: 6px;
                left: -60px;
              }

              &:hover {
                height: 22px;
              }
            }

            .preview_switch_text {
              color: #000;
              font-size: 14px;
              padding: 0 10px;
            }

            .preview_dropdown {
              width: 100px;
              height: 30px !important;
              border-radius: 15px;
            }

            button {
              font-size: 12px;
            }
          }

          .preview_title {
            display: flex;
            font-size: 18px;
          }

          .preview_collapse {
            border: none !important;
            border-top: 2px solid #dadce0 !important;
            background-color: transparent !important;
            border-radius: 0 !important;
          }

          .preview_output_area {
            margin-top: 35px;
            border-top: 1px solid #dadce0;
            width: 100%;
            position: relative;
            color: #5f6368;
            padding: 18px 0;
          }

          .preview_predict_area {
            margin: 15px 0 20px;
            color: #5f6368;
          }
        }
      }

      .preview_input {
        display: flex;
        align-items: center;
        padding: 18px 18px 18px;
        border-bottom: 1px solid #eaeaea;

        & + .preview_input {
          padding-top: 18px;
        }

        span {
          white-space: nowrap;
          font-size: 15px;
          font-weight: 500;
        }

        input {
          border: none;
          background-color: #eee;
          color: #000;
          width: 66px;
          height: 30px;
        }

        .preview_input_buttons {
          position: relative;
          left: -5px;
          display: flex;
          flex-direction: column;

          .button_increment {
            border-radius: 0 5px 0 0;
            background-color: #000;
            width: 15px;
            color: #000;
          }

          .button_decrement {
            border-radius: 0 0 5px 0;
            background-color: #000;
            width: 15px;
            color: #000;
          }
        }
      }
    }
  }

  .ant-collapse-header {
    background-color: #e3e3e3;
    text-align: left;
    height: 50px;

    span {
      font-size: 18px;
      color: #000 !important;
    }

    .ant-collapse-expand-icon {
      margin-right: 20px;
    }

    &:hover {
      color: #000 !important;
      background-color: #eee;
    }
  }

  .ant-collapse-content {
    margin: 15px !important;
    // border-top: none !important;
    // box-shadow: none;
  }

  // .ant-collapse-item-active > .ant-collapse-header {
  //   color: #000 !important;
  //   background-color: #fff !important;
  // }

  .ant-collapse-expand-icon {
    position: absolute;
    right: 0;

    &:hover {
      color: #000 !important;
    }
  }
}

.preview_cont {
  :global(.ant-modal-content) {
    padding: 18px !important;

    .ant-modal-title {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }

    .control_area {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        border-color: transparent;
        background-color: transparent;

        &:disabled {
          background-color: transparent;

          &:hover {
            color: initial !important;
            border: none;
            border-color: transparent;
            outline: none;
            color: rgba(0, 0, 0, 0.25) !important;
          }
        }

        &:hover {
          color: initial !important;
          border: none;
          border-color: transparent;
          outline: none;
        }
      }
    }

    .class_area {
      display: flex;
      justify-content: flex-start;
      gap: 0px;

      button {
        border: none;
        font-size: 20px;

        &:hover {
          border: none !important;
          color: #000 !important;
        }
      }
    }
  }
}
