.indent1.commentWrapper {
  &[open] > summary {
    left: calc(1.5rem + 0.25rem);
  }

  & > summary {
    margin-left: calc(1.5rem + 0.25rem);
  }

  & .commentNode {
    padding-left: calc(1.5rem + 0.25rem);
  }
}

.indentN.commentWrapper {
  &[open] > summary {
    left: calc(1rem + 0.25rem);
  }

  & > summary {
    margin-left: calc(1rem + 0.25rem);
  }

  & .commentNode {
    padding-left: calc(1rem + 0.25rem);
  }
}

.commentNode {
}

.commentWrapper {
  position: relative;
}

.commentWrapper summary {
  list-style: none;

  font-size: 0.875rem;
  font-style: italic;
  color: #717171;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;

  & > span {
    display: inline-block;
  }
}

.summaryInner {
  display: inline-flex;
  padding-inline: 0.25rem;
}

.collapsed,
.expanded {
  opacity: 0.5;
  transition: all cubic-bezier(0.17, 0.67, 0.5, 0.71) 100ms;
}

.commentWrapper > summary {
  position: static;
  display: block;
  align-items: center;
  transform: initial;
  cursor: pointer;
  background-color: #f9f9f9;

  .collapsed {
    display: none;
  }
  .expanded {
    display: block;
  }
  .collapseContent {
    display: block;
  }
}

.commentWrapper[open] > summary {
  position: absolute;
  top: 3rem;
  left: 0;
  background: transparent;
  width: auto;
  padding: 0.25rem 0;
  margin-left: 0;

  .collapsed {
    display: block;
  }
  .expanded {
    display: none;
  }
  .collapseContent {
    display: none;
  }
}

.commentInner {
  margin-bottom: 1.5rem;
}

.commentHeader {
  padding-top: 0.5rem;
}

.innerComment {
  border-radius: 0.375rem;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.133);

  padding: 0.25rem;
}

.commentDetail {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.profile {
  margin-left: 0.5rem;
  padding: 0.25rem;
  font-weight: 500;
  color: rgb(61, 61, 61);
  font-size: 1rem;
}

.commentAvatar {
  flex-shrink: 0;
}

.separator {
  font-size: 0.875rem;
  color: #bdbdbd;
  width: 15px;
  margin-right: 0.5rem;
}

.createdAt {
  font-size: 0.875rem;
  color: #717171;
}

.actions {
  margin-top: 0.25rem;
}

.actionBtn {
  position: relative;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: #3d3d3d;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.035);
    border-color: transparent;
    color: #090909;
    z-index: 1;
  }
}

.actionIcon {
  margin-right: 0.25rem;
}
