:root {
  --tiptap-video-handle-bg: var(--tt-brand-color-600);
}

.dark {
  --tiptap-video-handle-bg: var(--tt-brand-color-400);
}

.tiptap.ProseMirror {
  .ProseMirror-selectednode .tiptap-video .tiptap-video-container {
    outline: 0.125rem solid transparent;
    outline-color: var(--tt-brand-color-500);
    border-radius: var(--tt-radius-xs, 0.25rem);
  }

  .tiptap-video {
    display: flex;
    width: 100%;
    margin: 1.5rem 0;

    &[data-align="right"] {
      text-align: right;
      justify-content: flex-end;
    }

    &[data-align="center"] {
      text-align: center;
      justify-content: center;
    }
  }

  .tiptap-video-container {
    cursor: pointer;
    user-select: none;
    flex-direction: column;
    display: flex;
  }

  .tiptap-video-content {
    align-items: center;
    max-width: 100%;
    display: flex;
    position: relative;
  }

  .tiptap-video-element {
    width: 100%;
    border-radius: var(--tt-radius-xs, 0.25rem);
  }

  .tiptap-video-handle {
    position: absolute;
    top: 50%;
    width: 0.375rem;
    height: 3rem;
    background-color: var(--tiptap-video-handle-bg);
    border-radius: 1.875rem;
    cursor: ew-resize;
    transform: translateY(-50%);
    z-index: 10;

    &.tiptap-video-handle-left {
      left: 4px;
    }

    &.tiptap-video-handle-right {
      right: 4px;
    }
  }

  .tiptap-video-caption {
    cursor: text;
    text-align: center;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
    white-space: break-spaces;
    word-break: break-word;
    margin-top: 1rem;
    outline: none;
    position: relative;

    &:has(
        > [data-node-view-content-react] > .ProseMirror-trailingBreak:only-child
      )::before,
    &:has(> [data-node-view-content-react]:empty)::before {
      content: attr(data-placeholder);
      color: #9ca3af;
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
