.main{
  width: 100%;
  padding: 4rem 2rem;
  position: relative;
  .list {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    bottom: 15px;
    box-sizing: border-box;
    padding: 1.5rem;
  }
}