.topic_list_box {
  // margin: 60px 0 0;
  display: flex;
  background-color: #f9fafb;
  border-top: 1px solid #e5e7eb;
  width: 100%;
  .topic_side {
    min-width: 155px;
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
    :global(.ant-menu-item) {
      height: 40px;
    }
    .topic_side_title {
      padding: 16px;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.75rem;
      border-bottom: 1px solid #e5e7eb;
    }
  }
  .topic_main {
    flex: 2 1 0;
    height: calc(100vh - 50px);
    padding: 1.5rem;
    overflow-y: auto;
  }
  .topic_box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0.6 1 0;
    min-width: 320px;
    width: 320px;
    padding: 1.5rem;
    gap: 24px;
    border-left: 1px solid #e5e7eb;
    .topic_block {
      width: 100%;
      background-color: #f3f4f6;
      border-radius: 0.5rem;
      padding: 1rem;
      .topic_title {
        margin: 0 0 16px;
        font-size: 16px;
        font-weight: 600;
        color: #1f2937;
      }
      .hot_topic_sub {
        margin: 0;
        font-size: 14px;
        color: #6b7280;
        line-height: 1.25rem;
      }
      .hot_topic_text {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
      :global(.ant-list-item) {
        margin-bottom: 12px;
        padding: 0;
        border: none !important;
        flex-direction: column;
        align-items: flex-start;
      }
      .recommend_follow_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin: 0 0 0 12px;
        }
        .recommend_follow_info {
          flex: 2 1 0;
        }
        .recommend_follow_text {
          color: #1f2937;
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
        .recommend_follow_sub {
          color: #6b7280;
          font-size: 12px;
          line-height: 1rem;
        }
        button {
          justify-self: flex-end;
          width: 60px;
          height: 32px;
          border-radius: 32px;
          background-color: #000;
        }
      }
    }
  }
}
.topic_list {
  max-width: 1400px;
  width: 100%;
  margin: 6px auto;
}

.bg {
  width: 970px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.content_wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  :global(.ant-list-item) {
    border: none !important;
  }
}

.load_btn {
  text-align: left;
  margin-top: 16px;
  line-height: 1.25rem;
  color: #4f46e5;
  cursor: pointer;
}
