.interactionList {
  width: 100%;
  min-width: 400px;
  height: calc(100vh - 84px);
  overflow: auto;
  margin: 20px auto 0;
  .listContent{
    max-width: 1000px;
    margin: 0 auto;
  }
  :global(.ant-list-item) { 
    align-items: unset;
    margin-bottom: 10px;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  :global(.ant-btn-icon) {
    position: relative;
    top: 1px;
  }
  .media {
    display: flex;
    position: relative;
    top: 6px;
    .mediaItem {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      position: relative;
      .mediaThumbnail {
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
}

.loadingSpinner {
  width: 32px;
  height: 32px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1890ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.topicDetail{
  :global(.ant-card) {
    border: none;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}