.briefUseBtn{
    height: auto;
    width: 100%;
    .top{
      display: flex;
      justify-content: center;
      .title{
        text-align: center;
        .text{
          font-weight: 700;
          font-size: 2.25rem;
          line-height: 2.5rem;
          margin-bottom: 0.5rem;
          color: #1f2937;
        }
        .des{
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: #6b7280;
        }
      }
    }
    .cardLeft{ 
      margin: 0 auto;
    }
    .card{
      padding: 1.5rem;
      margin-top: 48px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      justify-content: space-around;
      width: 100%;
      .cardTitle{
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #111827;
        margin-bottom: 1.2rem;
        margin-top: 30%;
        svg{
          font-size: 2rem;
          color: #4f46e5;
          margin-right: 0.5rem;
        }
      }
      .cardDes{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #6b7280;
        margin-bottom: 1.5rem;
      }
    }
    .cardRight{
        width: 432px;
        height: 420px;
        border-radius: 10px;
        position: relative;
        margin: 0 auto;
        video{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;

        }
      }
}