  .help{
    margin-top: 48px;
    position: relative;
    padding-bottom: 64px;
    .helpTitle{
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: #1f2937;
      margin-bottom: 2rem;
      >div:nth-child(1){
        margin-bottom: .5rem;
        color: #1f2937;
      }
      >div:nth-child(2){
        font-size: 16px;
        color: #6b7280;
        font-weight: 400;
      }
    }
    .card{
        background-color: #fff;
        border-radius: 6px;
        padding: 1.5rem;
        cursor: pointer;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04), 0 1px 2px 0 rgba(0,0,0,0.06);
        width: 100%;
        .title{
          text-align: left;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          font-weight: 700;
          color: #1f2937;
        }
        .detail{ 
          color: #6b7280;
          font-size: 0.875rem;
        }
      }
  }