  .experience{
    margin-top: 48px;
    position: relative;
    .title{
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: #1f2937;
      margin-bottom: 2rem;
    }
    .card{
      background-color: #fff;
      border-radius: 6px;
      margin-bottom: 64px;
      padding: 2rem;
      .cardContent{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #4b5563;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        >div>div:nth-child(2){ 
            display: flex;
            justify-content: right;
        }
        .flow{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .cardTitle{
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            color: #111827;
            text-align: left;
            margin-bottom: 0.75rem;
            svg{
              font-size: 1.5rem;
              color: #4f46e5; 
              margin-right: 0.75rem;
            }
          }
          .cardDetail{
              color: #6b7280;
              margin-bottom: 1rem;
          }
          .step{
            font-size: 0.9rem;
            line-height: 1.5rem;
            position: relative;
            left: -3px;
            .stepTitle{
              font-size: 0.9rem;
              font-weight: 600;
              color: #4f46e5;
            }
          }
            :global(.ant-steps){
              height: 100%;
              justify-content: space-between;
            }
            :global(.ant-steps-icon){
              color: #fff;
            }
            :global(.ant-steps-item-container){
              justify-self: center;
              justify-items: center;
              display: flex;
            }
            :global(.ant-steps-item-content){
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
            :global(.ant-steps-item-tail){
              inset-inline-start: 20px;
              top: 24px;
            }
            :global(.ant-steps-item){
              display: flex;
            }
            :global(.ant-steps-item-title){
              color: #1f2937!important;
              line-height: normal;
              font-weight: 600;
            }
            :global(.ant-steps-item-description){
              color: #6b7280!important;
              padding-bottom: 0;
            }
        }
      }
      .cardContent2{
        .flow{
          margin-left: 30px;
        }
        >div>div:nth-child(1){ 
          order: 2!important;
        }
        >div>div:nth-child(2){ 
          justify-content: left;
        }
      }
      .image{
        width: 100%;
        max-width: 520px;
        img{
          object-fit: cover;
          height: auto;
          width: 100%;
          border-radius: 4px;
        }
      }
    }
    @media (max-width: 576px) {
    .flow {
      margin-left: 0!important;
    }
    .cardContent2 >div:nth-child(1)>div:nth-child(1){ 
        order: 1!important;
      }
  }
  }