.button {
  width: 100%;
  background-color: #4f46e5e6;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}
.button:hover {
  background-color: #4f46e5e6 !important;
  border-color: #4f46e5e6 !important;
  color: #fff !important;
  opacity: 0.95;
}
.item_btn > img {
  border-bottom: 1px solid #e1e1e1;
}
