
.taskListTitle {
    color: black;
    margin-bottom: 1.5rem;

    .title{
      font-size: 1.5rem;
      font-weight: bold;
      span{vertical-align: middle;}
      margin-bottom: 1rem;
      font-family: Inter, sans-serif;
    }

    .des{
      font-size: 16px;
      color: #666;
      
      p{
        margin: 0;
      }
    }
}
  