
    .taskList{
      .taskTitle{
        font-weight: bold;
        vertical-align: middle;
        color: black;
        font-size: 16px;
      }
      .taskTitle{
        margin: 0;
      }
      .taskLineTitle{
        text-decoration: line-through;
        margin: 0;
      }
      .listItem{
        border-radius: 10px;
        margin: 16px 0;
        background-color: #f9fafb;
        border: none;
        padding: 1rem;
        :global(.ant-list-item-meta-title){
          margin: 0 !important;
        }
        :global(.ant-list-item-meta-avatar){
          align-self: center;
        }
        :global(.ant-list-item-meta-description){
          color: #6b7280;
        }
        .avatarContainer {
          position: relative;   
          display: inline-block;
          width: 48px;          
          height: 48px;
          border-radius: 25px;
          font-size: 24px;
          display: flex;
          justify-content: center;
        }
        .publish{
            color: #4f46e5;
            background-color: rgb(79 70 229 / 0.1);
          }
        .complete{
          color: #22c55e;
          background-color: rgb(34 197 94 / 0.1);
        }
        .lock{
          color: #6b7280;
          background-color: rgb(107 114 128 / 0.1);
        }
      }
      
      .task-opacity4{
        opacity: 0.4;
      }
      .taskOpacity6{
        opacity: 0.6;
      }
      .disabled{
        background-color: rgba(245, 245, 245, 1);
      }
      
    }
  